html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#game {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(7, 12vh);
}

#game-player {

}

#game-feedback {

}

#game-enemy {
    grid-row: span 7;
}

.game-ally {

}

#game-boost-dmg {

}

#game-boost-hit {

}

#game-boost-miss {

}

#game-call-friend {

}